<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Agreement</title>
</head>
<body>
<h2>Terms and Conditions</h2>
<div class="agree">

  <p>
    <b>THE USE OF THESE SERVICES IMPLIES FULL AND UNCONDITIONAL ACCEPTANCE AND VALIDITY OF EACH AND ALL THE GENERAL TERMS AND CONDITIONS WHICH ARE DEEMED TO BE AUTOMATICALLY INCORPORATED INTO THE CONTRACT CONCLUDED WITH HomeStay.</b>
  </p>

  <p>
    <b>PROCUREMENT POLICY:</b> When using the service, the user will receive an email confirmation in which is included the confirmation that their purchase order is in the process of being confirmed. If you are a customer, once the corresponding debit for your reservation has been made, you will receive an email confirming this; this email serves as proof of your booking.
  </p>

  <p>
  <b>GUARANTEE: </b>The booking is confirmed and guaranteed overnight with a credit card. In the event of a no-show without prior notice, the first night will be charged (including VAT and taxes).
  </p>

  <p>
    <b>CANCELLATION OF BOOKING:</b> The credit card is solely a means of guarantee. Cancellation of the booking by the user will not incur any charges for advance cancellation, provided that this is done prior to the specified deadline in each country (local time at the hotel) on the day of arrival. Once this threshold has passed, HomeStay will make a cancellation charge as compensation, which will amount to the cost of the first night (including VAT and taxes).
  </p>

  <p>
    <b>CANCELLATION COSTS IN RESORT HOTELS:</b> No charge will be made to your credit card if cancellation is made more than 48 hours prior to the day of arrival at the hotel (local time at the hotel). If cancellation is made during the 48 hours prior to arrival, 50% of the total cost of the booking will be charged to your credit card In the event of a client no-show without prior notice, 100% of the total cost of the booking will be charged, with the exception of hotels in Germany, where 10% of the stay may be refunded as compensation for expenses not incurred.
  </p>
  <form>
  <input id="tc"  type="checkbox" required> I accept the terms and conditions.
  </form>
  <div class=but>
    <button type="submit" class="Searchbutton">Continue</button>
  </div>


</div>
</body>
</html>
